<tr id="<%=entry.id%>">
    <td><a href="/entries/<%=entry.id%>"><%=entry.content%></a></td>
    <td><a href="/entries/<%=entry.id%>/edit">Edit this entry</a><td>
    <td><a class="quick_entry_delete" href="/entries/<%=entry.id%>">Delete this entry</a></td>
</tr>